
.maintopbar .navbar {
    background-color: #000;
  }
  .maintopbar .navbar .navbar-toggler{
    color: #fff;
  }
  .maintopbar .navbar .navbar-brand {
    color: #fff;
    font-weight: 700;
  }
  .maintopbar .navbar .navbar-brand img{
    height: 30px;
    margin-right: 5px;
  }
  .loginbtn {
      background: #f24304;
      color: #fff;
      padding: 5px 20px;
      border-radius: 2px;
      font-size: 14px;
  }
  
  .btn-group .btn-primary{
    border-radius: 0;
    background: #f24304;
    border: #f24304;
  }
  .btn-group .btn-secondary{
    border-radius: 0;
    background: #fff;
    color: #f24304;
    border: #ffff;
  }