<div class="minisidebar" *ngIf="activeTab==''">
    <ul>
        <li><a href="javascript:void()">Designers</a></li>
        <li><a href="javascript:void()">Developers</a></li>
    </ul>
</div>

<div class="minisidebar" *ngIf="activeTab=='catalouge'">
    <ul>
        <li><a href="javascript:void()">Developers prerequisite</a></li>
        <li><a href="javascript:void()">Artifactory</a></li>
    </ul>
</div>

<div class="minisidebar" *ngIf="activeTab=='subscription'">
    <ul>
        <li><a href="javascript:void()">Angular</a></li>
        <li><a href="javascript:void()">React</a></li>
    </ul>
</div>