.page_mainsec {
  padding: 40px;
}

.page_mainsec h1 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.page_mainsec p {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 320px) {}

@media (max-width: 481px) {
  .page_mainsec {
    padding: 10px;
  }

  .page_mainsec h1 {
    font-size: 24px;
    font-weight: 500;
  }

  .page_mainsec h5 {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 641px) {
  .page_mainsec {
    padding: 10px;
  }

  .page_mainsec h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .page_mainsec h5 {
    font-size: 18px;
    font-weight: 500;
  }
}